@if (author) {
    <h2>{{ author.name }}</h2>
    <p>Born on: {{ author.birth_date }}</p>
    <p>{{ author.bibliography.length }} books</p>
    <h3>Bibliography</h3>
    <table>
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Publication Year</th>
            </tr>
        </thead>
        <tbody>
            @for (book of author.bibliography; track $index) {
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.year }}</td>
                </tr>
            }
        </tbody>
    </table>
    <a [routerLink]="['/authors', author.id, 'edit']">Edit</a>
} @else {
    <p>Author not found</p>
}
